@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<button id="getDataButton">Get Data</button>

<table id="dataTable" style="display:none;" class="table">
    <thead>
        <tr>
            <th>City</th>
            <th>Temperature (°C)</th>
            <th>Condition</th>
            <th>Local Time</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        <!-- Data will be populated here -->
    </tbody>
</table>
