
<div class="container">
	<form id="uploadExcelFile" method="POST" enctype="multipart/form-data">
		<br />
		<div class="container">
			<h1 class="h3 mb-3 font-weight-normal">Upload Excel File</h1>
			<input id="fileUploadInputField" type="file" name="file" required="required" />
			<hr />
			<button id="uploadBtn" type="submit">Upload</button>
		</div>

	</form>
</div>
