
<div class="container">
	<form asp-controller="ITRequest" asp-action="Index" method="post" enctype="multipart/form-data">
		<br />
		<div class="container">
			<h1 class="h3 mb-3 font-weight-normal">Upload Excel File</h1>
			<input type="file" name="file" />
			<hr />
			<button type="submit">Upload</button>
		</div>

	</form>
</div>
