
@model ExcelFile

@*<form method="post" asp-controller="FileUpload" enctype="multipart/form-data">
    <input type="file" asp-for="UploadExcelFile" />
    <input type="submit" value="Upload file" asp-action="Index" />
</form>*@

<form asp-controller="FileUpload" asp-action="Index" method="post" enctype="multipart/form-data">
	<input type="file" name="file" />
	<hr />
	<button type="submit">Youtube Upload</button>

</form>