
    <h3>New Implementation (Separate Web API)</h3>
    <hr />
    <div><button id="loadTableData">Load Table Data</button></div>
    <hr />
    <table id="it-request-with-file-table" class="table table-striped table-hover table-bordered" width="100%">

    </table>
